---
import type { ContentLayoutProps } from "@/types/main";
import SectionTitle from "../SectionTitle.astro";
import SocialNetworts from "./SocialNetworts.astro";

const {title, text, form} = Astro.props as ContentLayoutProps["contact"]
const {name, email, message, submit} = form

---

<section>
  <SectionTitle title={title} color="#EB294C" />
  <p>{text}</p>
  <form>
    <input type="text" placeholder={name}>
    <input type="email" placeholder={email}>
    <textarea placeholder={message}></textarea>
    <button type="submit">{submit}</button>
  </form>
  <SocialNetworts />
</section>
<div id="end-contact"></div>

<style lang="scss">
section {
  padding: 0 1rem;
  background: radial-gradient(
      62.89% 49.17% at 50% 50%,
      #182235 0%,
      #040a0e 100%
    );

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    input, textarea{
      font-family: var(--font-general);
      padding: 1rem;
      border: 3px solid #0D3043;
      border-radius: 20px;
      background-color: var(--color-background);
      color: var(--color-text);
      &::placeholder {
        color: var(--color-text);
      }
    }

    textarea {
      resize: none;
      height: 8rem;
    }

    button {
      width: 8rem;
      align-self: center;
      font-family: var(--font-general);
      font-weight: 900;
      font-size: 1.2rem;
      padding: 0.8rem;
      border: 3px solid transparent;
      border-radius: 20px;
      background-color: var(--color-primary);
      color: var(--color-background);
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus {
        border: 3px solid var(--color-primary);
        background-color: transparent;
        color: var(--color-primary);
      }
    }
  }


}


  #end-projects {
    height: 5rem;
  }
</style>