---
import SectionTitle from "../SectionTitle.astro";
import SocialNetworts from "./SocialNetworts.astro";

export interface Props {
  title: string;
  text: string;
  form: {
    name: string;
    email: string;
    message: string;
    submit: string;
  };
}

const {title, text, form} = Astro.props;
const {name, email, message, submit} = form;

---

<section>
  <SectionTitle title={title} />
  <p>{text}</p>
  <form>
    <input type="text" placeholder={name}>
    <input type="email" placeholder={email}>
    <textarea placeholder={message}></textarea>
    <button type="submit">{submit}</button>
  </form>
  <SocialNetworts />
</section>