---
import type {Link} from '@/types/main'
import Navbar from '@/components/Navbar/index.astro'
import Footer from '@/components/Footer/index.astro'

type BaseLayoutProps = {
	title: string;
	navbarLinks: Link[];
	footer: {
		text: string;
	};
}

const {title, navbarLinks, footer} = Astro.props as BaseLayoutProps;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Personal web of Jesús Molano Perdomo. Frontend developer 💻">
		<link rel="stylesheet" href="./base.css">
		<title>{title} | Jesús Molano</title>
	</head>
	<body>
		<Navbar links={navbarLinks} />
		<main>
			<slot />
		</main>
		<Footer text={footer.text} />
	</body>
</html>

<style>
	body{
		background-color: var(--color-background);
		color: var(--color-text);
		font-family: var(--font-general);
	}
</style>